#map {
  height: 700px;
  width: 100%;
  z-index: 1; // Dessous les menus
}

// Style pour les popups Leaflet (Optionnel, pour plus de design)
:host ::ng-deep {
  .leaflet-popup-content-wrapper {
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}